# sudo useradd -r -s /usr/sbin/nologin -d /nonexistent monitor-user
# sudo usermod -aG docker monitor-user

[Unit]
Description=Monitoring Flask API Service
After=network.target

[Service]
User=monitor-user
Group=monitor-user
WorkingDirectory=/var/scripts/status-dashboard
ExecStart=/usr/bin/python3 /var/scripts/status-dashboard/status-api.py
Restart=always

[Install]
WantedBy=multi-user.target
