MAIL_SENDER = <mail@mail.com>
MAIL_PW = <password>
MAIL_SERVER = <mail-server-url>
MAIL_PORT = 465
MAIL_ADMIN = <mail@mail.com>
MAIL_RECEIVER = <mail@mail.com>

API = <api-url>
API_KEY = <api-key>
API_PW = <password>
API_USER_ID = <user_id>

DOMAIN = <domainname>
DNS_RECORD = <dns-record-id>
DNS_HOSTNAME = <subdomain>
