MAIL_SENDER = <mail@mail.com>
MAIL_PW = <password>
MAIL_SERVER = <mail-server-url>
MAIL_PORT = 465
MAIL_ADMIN = <mail@mail.com>
MAIL_RECEIVER = <mail@mail.com>

API = <api-url>
API_KEY = <api-key>
API_PW = <password>
API_USER_ID = <user_id>

DOMAIN = <domainname>
IPV4_ENABLED = true
DNS_RECORD = <dns-record-id>
DNS_HOSTNAME = <subdomain>
IPV6_ENABLED = false
DNS_RECORD_AAAA = <dns-record-id-for-ipv6>
DNS_HOSTNAME_AAAA = <subdomain-for-ipv6>
